
<div class="span3 offset4">
  <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>

    <div>
      <h2>Finish signing up...</h2>
      <%= f.email_field :email, :placeholder => 'Email address' %>

      <p><small> <em>We need an email address so we can notify you when Pairlet finds a mutual connection.</em> </small></p>
    </div>

    <div>
      <p><%= f.submit "Sign up", :class => 'btn btn-red' %></p>
      
      <% if resource.errors.empty? %>
        <p><%= render "devise/shared/links" %></p>
      <% end %>
    </div>

  <% end %>
</div>
