<a href="http://www.pairlet.com" title="Pairlet.com"><img src="https://dl.dropbox.com/u/2848831/pairlet.png" alt="" title="Pairlet logo"></a> <br />
<h2>Someone flirted you back on Pairlet,</h2><br />

<p>Their <%= @newflirt.provider %> username is <strong><a href="http://www.<%= @newflirt.provider %>.com/<%= @newflirt.handle %>"><%= @newflirt.handle %></a></strong>.<br />
This person received the same email with your username since you mutually flirted each other.</p>

<p>Good luck!</p>

<p>- Pairlet.com</p>
<br />

<p><small>You received this message because this email address is associated with an account on Pairlet.com</small></p>