<div class="row">
  <div class="span8">
    <% if @users.any? %>
      <ul class="users">
        <%= render @users %>
      </ul>
    <% else %>
    	<h3>None yet, soon though... &nbsp;&nbsp; soon.</h3>
    <% end %>
  </div>
</div>