<div class="header">
	<%= link_to root_path, :id => 'csslogo' do %>
		<div class="heart">
			<span class="section1"></span>
			<span class="section2"></span>
			<span class="section3"></span>
			<span class="section4"></span>
			<span class="section5"></span>
			<span class="section6"></span>
			<span class="section7"></span>
			<span class="section8"></span>
		</div>
		<div class="flirt">flirt</div>
	<% end %>

	<small class="signin"><%= link_to "Sign in", '/users/login' %></small>
</div>