<h1>Add a soulmate</h1>
<div class="row-fluid">
  <div class="span6 box-twitter">
    <i class="icon-twitter"></i>
  </div>
  <div class="span6 box-facebook">
    <i class="icon-facebook"></i>
  </div>
 
  <div id="add-form">
    <%= render :partial => 'form' %>
  </div> <!-- #add-form -->

  <div id="info">
    <div class="info-twitter">
      <span class="btn btn-cancel">cancel</span>
    </div>

    <div class="info-facebook row-fluid">
      <span class="profile_img span2">
        <img src="" class="clone" alt="not"/>
      </span>
      <p class="help span10">www.facebook.com/<b>username</b> <br/><em>sometimes has dots and numbers, i.e "john.smith.4"</em></p>
      <span class="btn btn-cancel">cancel</span>
    </div>
  </div> <!-- #info -->
</div> <!-- .row-fluid -->