<div class="row-fluid">
  <div class="currently-flirting">
    <% if @flirts.any? %>
      <h3>Your soulmates</h3>
      <% @flirts.each do |flirt| %>
        <%= render 'flirt', :flirt => flirt %>
      <% end %>
    <% end %>

    <% if @flirts.empty? %>
      <h4>No people yet, add some.</h4>
    <% end %>
  </div>
</div> <!-- .row-fluid -->