<tr>
	<td><i class="icon-<%= flirt.provider %> icon-large"></i></td>
	<td><%= link_to flirt.handle, "http://www.#{flirt.provider}.com/#{flirt.handle}" %></td>
	<td><%= link_to raw('<i class="icon-remove-circle icon-large"></i>'), flirt, method: :delete, data: { confirm: 'Are you sure?' }, title: 'Delete', rel: 'tooltip', placement: 'top' %></td>
	<td class="time-ago"><%= time_ago_in_words(flirt.created_at) %> ago</td>
</tr>