<div class="current-flirt">
  <img class="flirt-avatar" src="<%= flirt.avatar %>" alt="profile pic">

  <% if @mutual.include?(flirt.handle) %>
    <i class="icon-heart"></i>
  <% end %>

  <div>
    <span><%= truncate(flirt.name, :length => 36) %></span>
    <em><%= link_to truncate((flirt.provider.include?('twitter') ? '@' : '') + flirt.handle, :length => 36), "http://www.#{flirt.provider}.com/#{flirt.handle}" %></em>
  </div>
  
  <%= link_to raw('<i class="icon-remove"></i>'), flirt, method: :delete, data: { confirm: 'Are you sure?' }, title: 'Delete', :class => 'delete' %>

</div>
