<div class="current-flirt">
  <img class="flirt-avatar" src="<%= flirt.avatar %>" alt="profile pic">

  <% if @mutual.include?(flirt.handle) %>
    <i class="icon-heart"></i>
  <% end %>

  <%= link_to truncate(flirt.handle, :length => 35), "http://www.#{flirt.provider}.com/#{flirt.handle}" %>
  <span>on <%= flirt.provider %></span>
  
  <% unless @mutual.include?(flirt.handle) %>
    <%= link_to raw('<i class="icon-remove"></i>'), flirt, method: :delete, data: { confirm: 'Are you sure?' }, title: 'Delete', :class => 'delete' %>
  <% end %>
</div>
