<div class="current-flirt">
  <img class="flirt-avatar" src="<%= flirt.avatar %>" alt="profile pic">

  <% if @mutual.include?(flirt.handle) %>
    <i class="icon-heart"></i>
  <% end %>

  <span>
    <%= truncate(flirt.name, :length => 22) %>
    <em><%= link_to truncate(flirt.handle, :length => 20), "http://www.#{flirt.provider}.com/#{flirt.handle}" %></em>
  </span>
  
  <%= link_to raw('<i class="icon-remove"></i>'), flirt, method: :delete, data: { confirm: 'Are you sure?' }, title: 'Delete', :class => 'delete' %>

</div>
