<tr>
	<td><%= flirt.handle %></td>
	<td><%= flirt.provider %></td>
	<td><%= time_ago_in_words(flirt.created_at) %> ago</td>
	<td><%= link_to 'Unflirt', flirt, method: :delete, data: { confirm: 'Are you sure?' } %></td>
</tr>