<h1>Flirts</h1>

<p>This is where you add "flirts".</p>
<p>The person you add will not be notified.<br />
You will both be notified under <%= link_to '"Mutual connections"', connections_path %> when they flirt you back.</p>

<%= render :partial => 'form' %>

<% if @flirts.any?%>

<h3>Currently flirting:</h3>
<table class="table">
<% @flirts.each do |flirt| %>
  <%= render 'flirt', :flirt => flirt %>
<% end %>
</table>

<% else %>
  
  <p>No flirts yet. Add one.</p>

<% end %>

<br />
