<h1>Flirts</h1>

<p>This is where you add "flirts".<br />
	Choose the network and add the "handle":</p>
<div class="well">
	<h3>ie.</h3>
	http://twitter.com/<strong>username</strong><br />
	http://facebook.com/<strong>custom.url</strong>
</div>
<p>The person you add will <u>NOT</u> be notified.<br />
When they also add you as a "flirt" you will both be notified under <%= link_to '"Mutual connections"', connections_path %>.</p>

<%= render :partial => 'form' %>

<h3>Currently flirting:</h3>
<table class="table">
  <tr>
    <th>Handle</th>
    <th>Provider</th>
    <th></th>
    <th></th>
  </tr>

<% @flirts.each do |flirt| %>
  <%= render 'flirt', :flirt => flirt %>
<% end %>
</table>

<br />
