<div class="container span12">
  <div class="span6 add-flirt">
    <h1>Add flirts</h1>
    <div class="row-fluid">
  
      <div class="span6 box-twitter">
        <i class="icon-twitter"></i>
      </div>
      <div class="span6 box-facebook">
        <i class="icon-facebook"></i>
      </div>
     
      <div id="add-form">
        <%= render :partial => 'form' %>
      </div> <!-- #add-form -->

      <div id="info">
        <div class="info-twitter">
          <p>Twitter's usernames are <code>www.twitter.com/<b>username</b></code> or <code>@<b>username</b></code></p>
          <span class="btn btn-cancel">cancel</span>
        </div>

        <div class="info-facebook">
          <p>Facebook's usernames are found in the URL: <code>www.facebook.com/<b>username</b></code></p>
          <span class="btn btn-cancel">cancel</span>
        </div>
      </div> <!-- #info -->

    </div> <!-- .row-fluid -->

    <span class="small span12">The person you add will not be notified.<br />
    You will both be notified by email when a mutual connection has been found.</span>
    
  </div> <!-- .add-flirt -->

  <div class="span6">

    <% if @flirts.any?%>

      <h2>Currently flirting:</h2>
      <table class="table">
      <% @flirts.each do |flirt| %>
        <%= render 'flirt', :flirt => flirt %>
      <% end %>
      </table>

    <% else %> 
      <p>No flirts yet. Add one.</p>
    <% end %>
  </div>
</div>
