<h1>Listing flirts</h1>

<table class="table">
  <tr>
    <th>Handle</th>
    <th>Provider</th>
    <th></th>
    <th></th>
  </tr>

<% @flirts.each do |flirt| %>
  <%= render 'flirt', :flirt => flirt %>
<% end %>
</table>

<br />

<%= render :partial => 'form' %>
