<div class="container span12">
  <div class="span6 add-flirt">
    <% if @providers.empty? %>
      <%= render 'flirts/welcome' %>
    <% else %>
      <%= render 'flirts/add_flirt' %>
      <%= render 'flirts/currently_flirting' %>
    <% end %>
  </div> <!-- .add-flirt -->

  <div class="span6 my-accounts">
    <%= render 'links/my_accounts' %>
  </div>
</div>
