<div class="pixelate">
  <div class="container-fluid">
      <div class="row-fluid align-center">
        <div class="span12">
          <h1>Ever wondered how a crush felt about you?</h1>
          <p>Flirt can let you know when there is mutual interest.<br />
            Connect your Twitter and Facebook accounts, then start adding your Flirts.</p>

            <h2>Try it, sign in with:</h2>
            <p>
              <%= link_to raw('<i class="icon-twitter"></i> with Twitter'), user_omniauth_authorize_path(:twitter), :class => 'btn btn-twitter' %>
              <%= link_to raw('<i class="icon-facebook"></i> with Facebook'), user_omniauth_authorize_path(:facebook), :class => 'btn btn-facebook' %>
            </p>
        </div>
      </div>
    </div>
  </div>
</div>
