<div class="pixelate">
  <div class="container-fluid">
      <div class="row-fluid align-center">
        <div class="span12">
          <h1>Ever wondered how a crush felt about you?</h1>
          <p>Flirt can let you know when there is mutual interest.<br />
            Connect your Twitter and Facebook accounts, then start adding your Flirts.</p>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="container-fluid">
  <div class="row-fluid align-center signup">
    <h2>Sign up, it’s free.</h2>
    <p><%= link_to "Sign up", new_user_registration_path, :class => 'btn btn-red' %></p>
    <p>
      <small>Already have an account? <%= link_to "Sign in", '/users/login' %></small>
    </p>
  </div>
</div>