<%= title "My accounts" %>

<p>Add your social network handles here so other users can "flirt" your Facebook or Twitter handle.</p>
<div class="well">
	<h3>ie.</h3>
	http://twitter.com/<strong>username</strong> <br />
	http://facebook.com/<strong>custom.url</strong>
</div>

<p>
	Just click the links bellow to authorize this app to retreive your info. <br />
	<small><em>The ONLY information stored is the "MyPersonalHandle", nothing else is done with your accounts.</em></small>
</p>

<table class="table">
  <tr>
    <th>Network</th>
    <th>Handle</th>
    <th></th>
  </tr>

<% @links.each do |link| %>
  <%= render 'link', :link => link %>
<% end %>
</table>
<br />

<% unless @providers.include? 'twitter'  %>
  <%= link_to "Add your Twitter account", "/auth/twitter" %> <br />
<% end %>
<% unless @providers.include? 'facebook' %>
  <%= link_to "Add your Facebook account", "/auth/facebook" %>
<% end %>
