<%= title "Listing accounts" %>

<table class="table">
  <tr>
    <th>Provider</th>
    <th>Handle</th>
    <th></th>
  </tr>

<% @links.each do |link| %>
  <%= render 'link', :link => link %>
<% end %>
</table>
<br />

<% unless @providers.include? 'twitter'  %>
  <%= link_to "Add your Twitter account", "/auth/twitter" %> <br />
<% end %>
<% unless @providers.include? 'facebook' %>
  <%= link_to "Add your Facebook account", "/auth/facebook" %>
<% end %>
