<%= title "My accounts" %>

<p>Authorize your accounts so other users can find you.</p>

<% if @links.any? %>
<table class="table">
<% @links.each do |link| %>
  <%= render 'link', :link => link %>
<% end %>
</table>
<br />
<% end %>
<% unless @providers.include? 'twitter'  %>
  <%= link_to "Authorize your Twitter account", user_omniauth_authorize_path(:twitter) %> <br />
<% end %>
<% unless @providers.include? 'facebook' %>
  <%= link_to "Authorize your Facebook account", user_omniauth_authorize_path(:facebook) %>
<% end %>
