// -------------
// Button styles
// -------------

.btn {
  font-weight: normal;
  padding: 5px 18px 5px 18px;
  font-size: 14px;
  .border-radius(0px) !important;
  border: none;
  text-shadow: none;

  &:hover {
    .transition(none);
    background-position: 0 0;
  }

  &:active {
    .transition(0.1s);
    .box-shadow(0 1px 1px #666);
  }

  &.btn-red {
    color: @white;
    background: #c1272d;
  }

  &.btn-cancel {
    color: #888;
    background: #eee;
    &:active {
      .box-shadow(0 1px 1px #ccc);
    }
  }

  i {
    margin-right: 5px;
    text-shadow: none;
  }

  &.btn-twitter,
  &.btn-facebook {
    font-size: 14px;
    text-align: left;
    i {
      font-size: 18px;
      position: relative;
      top: 2px;
    }
  }


  &.btn-twitter {
    .border-radius(0px);
    border: none;
    text-shadow: none;
    #gradient > .vertical(@tw, @tw);
    color: @white;
    i {
      left: -3px;
    }
  }

  &.btn-facebook {
    .border-radius(0px);
    border: none;
    text-shadow: none;
    #gradient > .vertical(@fb, @fb);
    color: @white;
    i {
      padding-right: 9px;
    }
  }
}

/* Cancel link */
.link-cancel {
  margin-left: 12px;
  position: relative;
  top: 3px;
}

.cancel {
  color: #bbb;
  &:hover {
    cursor: pointer;
  }
}
