// -------------
// FLIRT APP STYLES
//
// -------------

body {
  padding-top: 30px;
}

a {
  color: @red;
  &:hover {
    color: @redDark;
    text-decoration: none;
  }
}

h1 {
  font-size: 27px;
}

h2 {
    font-size: 24px;
}

h3 {
  margin-top: 0;
  line-height: 21px;
  font-size: 21px;
}

.btn,
table,
select,
input[type=text],
input[type=email],
input[type=password] {
  font-size: 13px;
}

.header {
  text-align: center;
  // -----------
  // LOGO STYLES

  // a.logo {
  //   // background: url('@{imagePath}logos/flirt-logo.png');
  //   .at2x('logos/flirt-logo.png', 131px, 34px);  /* retina mixin */
  //   background-repeat: no-repeat;
  //   height: 34px;
  //   .block;
  //   background-position-x: 50%;
  // }

  #csslogo {
    display: inline-block;
    .flirt {
      font-size: 42px;
      color: @black;
      position: relative;
      top: -31px;
      left: 21px;
      font-weight: normal;
    }

    &:hover {
      text-decoration: none;
      .heart span {
        .transition(0.1s);
        background: @redDark;
      }
    }
    &:after {
        content: 'α alpha';
        color: #ccc;
        font-size: 11px;
        top: -29px;
        left: 7px;
        position: relative;
    }
  }

  .heart {
    height: 34px;
    width: 131px;
    position: relative;
    @width: 8px;

    span {
      .transition(0.1s);
      background: @red;
      display: block;
      position: absolute;
      width: @width;
    }
    .section1 {
      height: 15px;
    }
    .section2 {
      left: @width;
      top: -7px;
      height: 7px;
    }
    .section3 {
      left: @width*2; 
      height: @width;
    }
    .section4 {
      left: @width*3;
      top: -7px;
      height: 7px;
    }
    .section5 {
      left: @width*4;
      height: 15px;
    }
    .section6 {
      left: @width*3;
      top: 15px;
      height: 7px;
    }
    .section7 { /* bottom piece */
      left: @width*2;
      top: 23px;
      height: @width;
    }
    .section8 {
      left: @width;
      top: 15px;
      height: 7px;
    }
  }
}

// --------------

/* Navigation */

ul.topnav {
  font-weight: 200;
  margin: 0;
  padding: 0;
  list-style: none;
  li {
    display: inline-block;
    padding: 0 10px;
    
    a {
      font-size: 13px;
    }
    
    &:first-child {
      padding-left: none;
    }
  }
}

/* Footer */
.footer {
  padding-top: 60px;

  p {
    font-size: 12px;
    color: #aaa;
    font-weight: 200;
    text-align: center;
    a {
      color: #aaa;
    }
  }
}

/* Edit user */

form#edit_user {
  font-weight: 200;
}

/* Errors */

#error_explanation {
  margin-bottom: 10px;
  font-size: 13px;
  h2 {
    color: @red;
    font-size: 13px;
    line-height: 13px;
  }

  ul {
    list-style: none;
    margin: 0;
  }
}

.field_with_errors {
  input {
    border-color: rgba(198, 24, 39, 0.8);
    .box-shadow(0px 0px 3px rgba(198, 24, 39, 0.8));
  }
}
