// -------------
// FLIRT APP STYLES
//
// -------------

body {
  color: @black;
  font-weight: 200;
}

a {
  color: @red;
  &:hover {
    color: @redDark;
    text-decoration: none;
  }

  &.link-cancel {
    color: @black;
  }
}

h1 {
  font-size: 27px;
}

h2 {
    font-size: 24px;
}

h3 {
  margin-top: 0;
  line-height: 21px;
  font-size: 21px;
}

h4 {
  font-size: 21px;
  margin-bottom: 20px;
}

h1, h2, h3, h4, h5 { 
  font-weight: 200;
}

.table {
  th, td {
    border: none;
  }
}

.btn,
table,
select,
input[type=text],
input[type=email],
input[type=password] {
  font-size: 13px;
}

span.small {
  font-size: 80%;
}

p.info {
  font-size: 85%;
  width: 100%; 
  color: #888;
  font-style: italic;
}

.help {
  color: #aaa;
  font-size: 12px;
  line-height: 14px;
  
  padding-top: 0;
  b, 
  strong {
    color: #666;  
  }
}

#add-form {
  form {
    margin: 0;
  }
}

#info {

  .profile_img {
    border: 1px solid #eee;
    width: 48px;
    height: 48px;
    display: block;
    float: left;
    margin-top: 12px;
    margin-right: 10px;
  }

  .profile_img,
  .profile_img img {
    .border-radius(4px);
  }

  .clone {
    border: none;
    outline: none;
  }

  .btn-cancel {
    .clear;
    float: left;
    margin-top: 15px;
  }

  .info-facebook {
    .help {
      margin-top: 18px; 
    }
  }
}

// --------------
// Links page

.container.accounts {
  text-align: center;
}

// --------------
// Flirt page

.add-flirt {
  h1 {
    margin-top: 15px;
  }
}

.box-twitter,
.box-facebook {
  height: 125px;
  .pull-left;
  position: relative;
  text-align: center;
  .border-radius(4px);
  
  &:hover {
    cursor: pointer;
  }
  
  i {
    position: relative;
    top: 36%;
    font-size: 50px;
    color: @white;
  }
}

.box-twitter {
  background: @tw;
}

.box-facebook {
  background: @fb;
}

.currently-flirting {
  overflow: hidden;
  margin-top: 30px;
  float: left;
  width: 100%;
  a {
    color: @black;
  }
  
  i.provider {
    width: 30px;
  }

  i.icon-twitter {
    color: @tw;
  }

  i.icon-facebook {
    padding: 0 5px 0 6px;
    color: @fb;
  }

  .time-ago {
    font-size: 11px;
    color: #bbb;
    font-style: italic;
  }

  .current-flirt { /* flirt items */
    position: relative;
    padding-left: 2px;
    float: left;
    width: 100%;
    .delete {
      margin-top: 12px;
    }

    div {
      padding-left: 12px;
      float:left;
      span {
        top: 3px;
        position: relative;
      }
      em {
        display: block;
      }
      a {
        font-size: 12px;
        color: #888;
      }
    }

    .icon-heart {
      position: absolute;
      left: 38px;
      top: -5px;
      font-size: 25px;
    }

    @th: 48px;

    img.flirt-avatar {
      float: left;
      width: @th;
      height: @th;
      background: #eee;
      .border-radius(24px);
    }
  }
}

// Sidebar settings

.current-flirt,
.account-twitter,
.account-facebook {
  margin-bottom: 10px;
  
  a,
  span {
    
    font-size: 16px;
    font-weight: 200;
    a {
      padding-left: 0;
      color: #888;
    }
  }
  
  > i {
    color: #ddd;
    font-size: 37px;
    position: relative;
    top: 8px;
  
    &.icon-heart {
      color: @red;
    }
  }

  &:hover {
    .delete {
      display: block;
    }
  }
}
.delete {
  float: right;
  display: block;
}

.icon-remove {
  color: #ccc;
  font-size: 13px;
  display: block;
  margin-right: 5px;
}

.account-twitter,
.account-facebook {
  padding-left: 2px;
}
.account-twitter {
  &.true {
    > i {
      color: @tw;
    }
  }
}
.account-facebook {
  &.true {
    > i {
      color: @fb;
    }
  }
}

// Accounts

.my-accounts {
  margin-top: 30px;
  padding-bottom: 30px;
  span {
    padding-left: 12px;
  }
  .delete {
    margin-top: 8px;
  }
}

// --------------

/* Footer */
.footer {
  padding-top: 60px;
  background: none;

  p {
    color: #999;
    font-size: 11px;
    font-weight: 200;
    text-align: center;
    a {
      color: #999;
    }
  }
}

/* Signin */

.signin {
  form {
    text-align: left;
  }
}

/* Edit user */

form#edit_user {
  font-weight: 200;
}

/* Errors */

#error_explanation {
  margin-bottom: 10px;
  font-size: 13px;
  h2 {
    color: @red;
    font-size: 13px;
    line-height: 13px;
  }

  ul {
    list-style: none;
    margin: 0;
  }
}

.field_with_errors {
  input {
    border-color: rgba(198, 24, 39, 0.8);
    .box-shadow(0px 0px 3px rgba(198, 24, 39, 0.8));
  }
}

// form styles

input[type=text],
input[type=email],
input[type=password] {
  .border-radius(0px);
  box-shadow: none;
}
