// -------------
// LANDING STYLES
// -------------

body.pages.index {
  .container-fluid {
    margin: 0 auto;
  }
}

.pixelate {
  background: url('layout/pixelated_bg.png') repeat-x;
  text-shadow: 0 1px 0 #5c0000;
  color: @white;
  text-align: center;
  padding: 32px 0;
  margin-top: 15px;
  font-weight: normal;

  .container-fluid {
    text-align: center;
  }

  h1 {
    font-size: 27px;
    padding: 0;
    margin: 0 0 10px 0;
    font-weight: bolder;
  }
}

.signup {
  font-weight: 200;
  h2 {
    font-size: 26px;
    color: @red;
    font-weight: 200;
    margin: 15px 0;
  }
}