// -------------
// LANDING STYLES
// -------------

body.pages.index {
  .container-fluid {
    margin: 0 auto;
  }
}

.pixelate {
  // background: url('layout/pixelated_bg.png');
  text-shadow: 0 1px 0 #5c0000;
  color: @white;
  text-align: center;
  padding: 23px 0 20px 0;
  margin-bottom: 15px;
  font-weight: normal;

  .container-fluid {
    text-align: center;
  }

  h1 {
    font-size: 32px;
    line-height: 1.1em;
    padding: 0;
    margin: 0 0 20px 0;
    font-weight: bolder;
  }

  h2 {
    margin-top: 25px;
  }

  p {
    font-size: 18px;
    line-height: 1.3em;
  }
}

.signup {
  font-weight: 200;
  h2 {
    font-size: 18px;
    color: @white;
    font-weight: 400;
    margin: 15px 0;
  }
}
