// -------------
// LANDING STYLES
// -------------

body.pages.index {
  color: @white;
  background: @red url('layout/pixelated_bg.png');
  background-position: top left;
  background-attachment: fixed;
  font-weight: normal;
  
  h1, h2, h3, h4 {
    font-weight: bold;
  }

  .container-fluid {
    margin: 0 auto;
  }

  .alert {
    color: @white;
    text-shadow: none;
    border: 1px solid #eee;
    background: rgba(252, 252, 252,0.2);
     .close {
       color: #fff;
     }
  }

  .footer {
    p,
    p a {
      color: #eee;
    }
  }

  .screenshots {
    margin-top: 20px;
    div:first-child {
      .align-right;
    }

    img {
      .box-shadow(0px 1px 8px 1px #7b1a1b);
    }
  }

  .addthis_toolbox {
    margin-top: 30px;
  }

  .content {
    .span4 {
      padding: 15px 0 10px 0;
    }
  }

  .how {
    font-size: 15px;
  }

  .how-explain {
    p {
      line-height: 1.3em;
      font-size: 16px;
    }
  }
}

// sharing buttons
.addthis_toolbox {
  padding-left: 18px;
  a {
    float: none !important;
  }
  .addthis_button_facebook_like {}
  .addthis_button_tweet {
    top: -5px;
    position: relative;
  }
}

.pixelate {
  text-shadow: 0 1px 0 #5c0000;
  color: @white;
  text-align: center;
  margin-bottom: 20px;
  margin-top: 10px;
  font-weight: normal;

  .container-fluid {
    text-align: center;
  }

  h1 {
    font-size: 32px;
    line-height: 1.1em;
    padding: 0;
    max-width: 1100px;
    margin: 0 auto 20px auto;
    font-weight: bolder;
  }

  h2 {
    margin-top: 25px;
  }

  p {
    font-size: 18px;
    line-height: 1.3em;
  }
}

.signup {
  font-weight: 200;
  margin-bottom: 30px;
  p.disclosure {
      opacity: 0.4;
      line-height: 1.1em;
      margin-top: 30px;
      font-size: 13px;
      &:hover {
        opacity: 1;
        cursor: default;
      }
    }
}
