// -------------
// MEDIA QUERIES
// -------------

/* Large desktop */
@media (min-width: 1200px) {}

@media (min-width: 980px) {
  body {
    padding-top: 65px;
  }

  .signup {
    .btn-twitter {
      margin-bottom: 8px;
    }
  }

  .delete {
    display: none;
  }
}

@media (max-width: 979px) and (min-width: 768px) {
  .help.span10 {
    width: 79.872928%;
  }
}

/* Portrait tablet to landscape and desktop */
@media (max-width: 979px) {
  .navbar-fixed-top .navbar-inner, 
  .navbar-fixed-bottom .navbar-inner {
    padding-top: 13px;
  }

  .nav-collapse {
    .nav {
      margin-top: 15px;
    }
  }

  .help {
    border-left: 0;
  }

  .signup {
    .btn-twitter {
      margin-bottom: 8px;
    }
  }
}
 
/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
  .flirts .box-twitter,
  .flirts .box-facebook {
    width: 49%;
    .pull-left;
  }

  .signup {
    text-align: center;
    .btn-twitter {
      margin-bottom: 0px;
    }
  }

  .screenshots {
    div {
      text-align: center !important;
      margin-bottom: 10px;
    }
  }

  .how {
    text-align: center;
  }

  .flirts .box-twitter {
    margin-right: 5px;
  }

  .my-accounts {
    margin-top: 10px;
    padding-top: 25px;
    border-top: 1px solid #ccc;
  }

  #uvTab {
    opacity: 0.2;
  }
}
 
/* Landscape phones and down */
@media (max-width: 480px) {
  #csslogo {
    margin-left: 0;
    padding-left: 15px;
  }

  input {
    width: 180px;
  }

  .signup {
    .btn-twitter {
      margin-bottom: 8px;
    }
  }

  .how-explain {
    h3 {
      text-align: center;
    }
  }

  .current-flirt {
    &:hover {
      em {
        // display: none;
      }
    }
  }
}