// -------------
// VARIABLES
// ------------- 

/* Bootstrap override */
@sansFontFamily: 'Lato', sans-serif;
@baseFontFamily: 'Lato', sans-serif;
@baseFontSize: 14px;

/* Image path */

@imagePath: '';

/* Colors */

@red:           #c92a2a;
@redDark:       #710810;
@black:         #232323;
@fb: 	        #3b5998;
@tw: 	        #00a0d1;